<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>{% block title %}{% endblock %} - Music Collector</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('landingPage') }}"><div class="glyphicon glyphicon-music">

      </div>Music Collector</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      {% block flash %}{% endblock %}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

          {% if session %}
            <a class="nav-link" href="{{ url_for('logoutPage') }}">Log out as <b>{{ session["username"] }}</b></a>
          {% else %}
            <a class="nav-link" href="{{ url_for('loginPage') }}">Sign in</a>
          {% endif %}


        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">

                {% if not user %}
                <a class="nav-link active" href="{{ url_for('landingPage') }}">
                {% else %}
                <a class="nav-link" href="{{ url_for('landingPage') }}">
                {% endif %}

                <span data-feather="home"></span>
                  Home
                </a>
              </li>

              <!-- nav bar collections loop start -->
              {% for row in fullnames %}
              <li class="nav-item">

                {% if not user %}
                <a class="nav-link" href="{{ url_for('showCollection', user_id=row[0]) }}">
                {% else %}
                <a class="nav-link{% if user["id"]==row[0] %} active{% endif %}" href="{{ url_for('showCollection', user_id=row[0]) }}">
                  {% endif %}
                  <span data-feather="layers"></span>
                  {{ row[1] }}
                </a>
              </li>
              {% endfor %}
              <!-- nav bar collections loop end -->

            </ul>
          </div>
        </nav>

        <!-- main content starts here -->
        {% block content %}{% endblock %}
        <!-- main content ends here -->

      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.min.js"><\/script>')</script>
    <!-- <script src="../../assets/js/vendor/popper.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
