<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- fix facebook https interfering with google -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://ajax.googleapis.com https://apis.google.com https://accounts.google.com 'unsafe-inline' 'unsafe-eval'"> -->
    <meta name="google-signin-client_id" content="738961851559-op16iihovld1kir48n3mrqc6640i49ll.apps.googleusercontent.com">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>{% block title %}{% endblock %} - Music Collector</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>

  <body>
    <script>
      // https://developers.facebook.com/docs/javascript/quickstart
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '524896611341289',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v3.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_GB/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

       // The first step when loading your webpage is figuring out if a person
       // is already logged into your app with Facebook Login. You start that
       // process with a call to FB.getLoginStatus. That function will trigger
       // a call to Facebook to get the login status and call your callback
       // function with the results.
       FB.getLoginStatus(function(response) {
         if (response.status === 'connected') {
           console.log(response.authResponse.accessToken);
         }
         statusChangeCallback(response);
       });

       // This is the callback. It calls FB.getLoginStatus() to get the most
       // recent login state. (The statusChangeCallback() function is part of
       // the example that processes the response.)
       function checkLoginState() {
         FB.getLoginStatus(function(response) {
           statusChangeCallback(response);
         });
       }

       // Here we run a very simple test of the Graph API after login is
       // successful.  See statusChangeCallback() for when this call is made.
       function testAPI(accessToken) {
         console.log('Welcome!  Fetching your information.... ');
         FB.api('/me', {fields: ['name', 'first_name', 'last_name', 'email']}, function(response) {
           console.log('Successful login for: ' + response.name);
           console.log('last_name: ' + response.last_name);
           console.log('first_name: ' + response.first_name);
           console.log('email: ' + response.email);
           console.log('accessToken: ' + accessToken);

           var array = {
            last_name: response.last_name,
            first_name: response.first_name,
            email: response.email,
            accessToken: accessToken
           }

           var xhr = new XMLHttpRequest();
           xhr.open('POST', '{{ url_for('oauthFacebook') }}');
           xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
           // xhr.onload = function() {
           //   console.log('Signed in as: ' + xhr.responseText);
           // };
           xhr.send('fbinfo=' + JSON.stringify(array));
         });
       }

       // This is called with the results from from FB.getLoginStatus().
       function statusChangeCallback(response) {
         console.log('statusChangeCallback');
         console.log(response);
         // The response object is returned with a status field that lets the
         // app know the current login status of the person.
         // Full docs on the response object can be found in the documentation
         // for FB.getLoginStatus().
         if (response.status === 'connected') {
           // Logged into your app and Facebook.
           testAPI(JSON.stringify(response.authResponse));
         } else {
           // The person is not logged into your app or we are unable to tell.
           document.getElementById('status').innerHTML = 'Please log ' +
             'into this app.';
         }
       }
    </script>

    <!-- generated facebook login button code -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=524896611341289';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- generated facebook login button code -->


    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('landingPage') }}"><div class="glyphicon glyphicon-music">

      </div>Music Collector</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->


      {% block flash %}

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}

      <div class="alert alert-success">
        {{ message }}
      </div>

          {% endfor %}
        {% endif %}
      {% endwith %}

      {% endblock %}


      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

          {% if session.get("logged_in") and session.get("auth_type")!="gl" %}
            <a class="nav-link" href="{{ url_for('logoutPage') }}">Log out as <strong>{{ session.get("username") }}</strong></a>
          {% elif session.get("logged_in") and session.get("auth_type")=="gl" %}
            <a class="nav-link" href="#" onclick="signOut();">Log out as <strong>{{ session.get("username") }}</strong></a>
            <!-- google signout link start-->
            <script>
            function signOut() {
              loadGoogle();
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function() {
                console.log('User signed out.');
                window.location = "{{ url_for('logoutPage') }}";
              });
            }
            </script>
            <script>
            function loadGoogle() {
              gapi.load('auth2', function() {
                // continuation
                gapi.auth2.init();
            });
            }
            </script>
            <!-- google signout link end -->
          {% else %}
            <a class="nav-link" href="{{ url_for('loginPage') }}">Sign in</a>
          {% endif %}


        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">

                {% if not user %}
                <a class="nav-link active" href="{{ url_for('landingPage') }}">
                {% else %}
                <a class="nav-link" href="{{ url_for('landingPage') }}">
                {% endif %}

                <span data-feather="home"></span>
                  Home
                </a>
              </li>

              <!-- nav bar collections loop start -->
              {% for row in fullnames %}
              <li class="nav-item">

                {% if not user %}
                <a class="nav-link" href="{{ url_for('showCollection', user_id=row[0]) }}">
                {% else %}
                <a class="nav-link{% if user["id"]==row[0] %} active{% endif %}" href="{{ url_for('showCollection', user_id=row[0]) }}">
                  {% endif %}
                  <span data-feather="layers"></span>
                  {{ row[1] }}
                </a>
              </li>
              {% endfor %}
              <!-- nav bar collections loop end -->

            </ul>
          </div>
        </nav>

        <!-- main content starts here -->
        {% block content %}{% endblock %}
        <!-- main content ends here -->

      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.min.js"><\/script>')</script>
    <!-- <script src="../../assets/js/vendor/popper.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- BEGIN google oauth2 api -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- END google oauth2 api -->

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
