{% extends 'base.html' %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="">
    <br>
    {% block header %}
    <h2>{% block title %}Home{% endblock %}</h2>
    {% endblock %}
    <p>Music Collector is a simple web application written in the Python3 Flask framework which allows users to show off their old-fashioned, physical media music collections.</p>
    <br>
    <h3>Largest Collections</h3>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Collection</th>
            <th>Media Count</th>
          </tr>
        </thead>
        <tbody>

          {% for row in topfive %}
          <tr>
            <a href="{{ url_for('showCollection', user_id=row["id"]) }}">
            <td><a href="{{ url_for('showCollection', user_id=row["id"]) }}">{{ row["fullname"] }}</a></td>
            <td>{{ row["count"] }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}
